


 /* .user_login--name{
  text-transform: capitalize;
 }
 .user-logout,
 .user-login{
  font-size: 1.4rem;
  padding: 0.8rem 1.4rem;
 }
 @media (max-width:${({ theme }) => theme.media.mobile}){ 
.mobile-navbar-btn {
  display: inline-block;
  z-index: 9999;
  border: ${({ theme }) => theme.colors.black};

  .mobile-nav-icon {
    font-size: 4.2rem;
    color:  ${({ theme }) => theme.colors.black} ; 
  }
}
.active .mobile-nav-icon {
  display: none;
  font-size: 4.2rem;
  position: absolute;
  top: 30%;
  right: 10%;
  color:  ${({ theme }) => theme.colors.black} ; 
  z-index: 9999;
}
.active .close-outline{
  display: inline-block;
}
.navbar-lists {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;

  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;

visibility: hidden;
opacity: 0;
transform: translateX(100%);
transition:  all 3s linear;
}

.active .navbar-lists {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  z-index: 999;
  transform-origin: right;
  transform:  all 3s linear;

  .navbar-link {
    font-size: 4.2rem;
  } 
}
.cart-trolley--link {
  position: relative;

  .cart-trolley {
    position: relative;
    font-size:5.2rem;
  }
  .cart-total--item {
    width: 4.2rem;
    height: 4.2rem;
    font-size: 2rem;
  } 
}
.user-logout,
user-login {
  font-size: 2.2rem;
  padding:  0.8rem 1.4rem; 
} 
} */


/* ============================= */
.App {
  text-align: center;
} 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
